body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-image: url("./netfliximg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.container {
    width: 400px;
    height: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin-bottom: 700px;
    color: white;
    
}
input[type="Email or phone number"],
input[type="password"],
input[type="Use a sign-in code"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px black;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}
button {
    background-color: red;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
button:hover {
    background-color: hsl(357, 93%, 43%);
}
